/* ////////////// HEADER ////////////// */

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.circle-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #8700c1;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.circle-profile img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
}

.loginNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0px 30px;
}

.loginNav button {
    background-color: white;
    color: #8700c1;
    padding: 10px 20px;
    border: 1px solid #8700c1;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.loginNav button:hover {
    background-color: #8700c1;
    color: white;
}

/* ////////////// ASIDE ////////////// */

#profileButton {
    background-color: white;
    color: #8700c1;
    padding: 8px 8px;
    border: 1px solid #8700c1;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#profileButton:hover {
    background-color: #8700c1;
    color: white;
}

/* ////////////// PROFILE ////////////// */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 40px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.profile-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.profile-details h2 {
    margin: 0;
    line-height: 16px;
    font-size: 28px;
    color: #333;
}

.profile-details p {
    margin: 5px 0;
    font-size: 18px;
    color: #777;
}

.follow-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #007bff;
    color: white;
}

.error-message {
    color: red;
    margin-top: 20px;
    font-size: 16px;
}

/* ////////////// PROFILE IMAGES////////////// */

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
    width: 95%;
    margin: auto;
}

.image-container {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.05);
}

.user-image {
    width: 100%;
    height: auto;
    display: block;
}

/* ////////////// POSTS ////////////// */

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.post-card {
    background: #fff;
    max-width: 700px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.post-image {
    width: 100%;
    border-radius: 8px;
}

.post-content {
    display: flex;
    text-align: center;
    gap: 20px;
    margin: 10px;
}

.post-content p {
    font-size: 16px;
    display: flex;
    text-align: left;
}

.liked-button {
    background: #ff4757;
    color: white;
    border: none;
    padding: 8px 10px;
    min-width: 60px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
}

.like-button {
    background: white;
    color: #ff4757;
    border: 3px solid #ff4757;
    padding: 6px 10px;
    min-width: 60px;
    max-height: 40px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
}

/* ////////////// HOME ////////////// */

#main {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#leftMain {
    width: 25%;
}

#centerMain {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#rightMain {
    width: 25%;
}

/* ////////////// NEW POST ////////////// */
/* Container styling */
.upload-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f5;
    padding: 20px;
}

.upload-form {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

/* File input styling */
.file-input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid black;
    color: black;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    opacity: .6;
}

.file-input-label:hover {
    opacity: 1;
}

.file-input {
    display: none;
}

/* Text input styling */
.text-input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button styling */
.submit-button {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

/* Image preview styling */
.image-preview {
    text-align: center;
    margin-bottom: 20px;
}

.preview-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

/* ////////////// NEW STORY ////////////// */

.fixed{
    position: fixed;
    width: 25%;
}

.add-story,
.submitStory {
    color: white;
    border-radius: 50px;
    background-color: #007bff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    transition: all 1s;
}

.submitStory {
    color: white;
    border-radius: 50px;
    background-color: #007bff;
    width: fit-content;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.add-story span {
    display: none;
}

.add-story:hover {
    width: fit-content;
    padding: 0px 10px;
}

.add-story:hover span {
    display: block;
    margin-right: 5px;
}

.story div {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    border-radius: 50px;
    border: 1px solid rgb(224, 224, 224);
    padding: 6px;
    background-color: #0000001e;
    cursor: pointer;
}

.story p {
    font-weight: 500;
}

/* ////////////// STORY DESIGN ////////////// */

.story-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 10px;
    /* Adjusts the vertical position */
    left: 50%;
    transform: translateX(-50%);
    width: 99%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: #fff;
    animation: fillProgressBar 8s linear forwards;
    border-radius: 50px;
}

@keyframes fillProgressBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.story-header {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 20px;
    left: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.story-image {
    max-height: 80%;
    max-width: 80%;
    object-fit: cover;
}